.top-bar {
  height: 60px;
  padding: 5px 15px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure it takes full width */
  background-color: rgba(0, 0, 0, 0.5); /* Add background color if needed */
  position: fixed;
}
.ig-link img {
  width: 30px;
  height: 30px;
}
.cart-container {
  position: relative;
  max-width: 600px;
  margin: 6rem auto;
  padding: 1rem;
  background-color: #000000a4;
  border-radius: 25px;
  z-index: 3000;
  min-height: 30vh;
  max-height: 100vh;
  box-shadow: 25px 25px 5px rgba(0, 0, 0, 0.9);
  border: #c0392b;
  border-style: solid;
  z-index: 50000;
}

.cart-container h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.8rem;
  color: #ffffff;
  z-index: 30;
  position: relative;
  background-color: #33333383;
  border-radius: 10px;
}

.empty-cart {
  text-align: center;
  font-size: 1.1rem;
  color: #ffffff;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: calc(6 * 8rem); /* Adjust the height based on item height */
  overflow-y: auto; /* Enable vertical scrolling */
  z-index: 30;
  position: relative;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: red;
}

.item-price {
  color: #666;

}

.remove-btn {
  background-color: #e71d06;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.cart-total {
  
  text-align: right;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 600;
  background-color: #4b494983;
  border-radius: 10px;
  padding: 0.5rem 1rem;

}
.glut {
  z-index: 1;
  position: fixed;
}
.logoHome{z-index: 1000;}