html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px 15px;
  z-index: 2000;
}

.logo {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  z-index: 11;
}

.logo img {
  display: block;
}

.titel {
  flex-grow: 1;
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.titel h1 {
  font-size: 24px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.cart-link img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.cart-link img:hover {
  transform: scale(1.1);
}

.logoHome {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.logoHome img {
  width: 50px;
  height: 50px;
}

.kebab-photo {
  
  background-color: rgba(0, 0, 0, 0.623);
  display: flex;
  justify-content: center;
  padding: 2px;
  border-radius: 15px;
  scale: 0.8;
  width: 50%; /* Adjust width to be narrower */
   /* Center the box */
   z-index: 1000;
}

.kebab-photo img {
  
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  scale: 0.8;
}

.kebab-photo.fade-in {
  animation: fadeIn 0.3s forwards;
}

.kebab-photo.fade-out {
  animation: fadeOut 0.3s forwards;
}

.kebab-photo.turn-in {
  animation: turnIn 0.3s forwards;
}

.kebab-photo.turn-out {
  animation: turnOut 0.3s forwards;
}

.kebab-photo.move-in,
.carousel-preview.move-in {
  animation: moveIn 0.3s forwards;
}

.kebab-photo.move-out,
.carousel-preview.move-out {
  animation: moveOut 0.3s forwards;
}

.kebab-photo.spin-in,
.carousel-preview.spin-in {
  animation: spinIn 0.3s forwards;
}

.kebab-photo.spin-out,
.carousel-preview.spin-out {
  animation: spinOut 0.3s forwards;
}

.kebab-details {
  text-align: center;
  margin-top: px; /* Reduce margin to save space */
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 55px;
  z-index: 1000;
}

.kebab-details h3 {
  
  font-size: 24px;
  width: 80px;
  
}

.kebab-details p {
  margin: 5px 0 0;
  font-size: 20px;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes turnIn {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes turnOut {
  from {
    transform: rotateY(0deg);
    opacity: 1;
  }
  to {
    transform: rotateY(90deg);
    opacity: 0;
  }
}

@keyframes moveIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes spinIn {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes spinOut {
  from {
    transform: rotateY(0deg);
    opacity: 1;
  }
  to {
    transform: rotateY(-90deg);
    opacity: 0;
  }
}

.ingredients-grid {
  margin-left: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 0px auto;
  max-width: 30vw;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 19px 18px rgba(0, 0, 0, 0.9);
  scale: 0.9;
  min-width: 20vw;
  width: 100%; /* Adjust width to take remaining space */
  height: 100%; /* Ensure both containers take full height */
}

.sauces-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  gap: 20px;
  justify-content: center;
  margin: 10px auto;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 8vh; /* Further reduce height */
}

.sauce-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #ffffff00 solid 5px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  justify-content: center; /* Center image */
}

.sauce-item img {
  width: 60px; /* Further reduce width */
  height: 60px; /* Further reduce height */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sauce-item p {
  margin-top: 10px;
  font-size: 16px;
  color: white;
  padding: 5px 5px;
  border-radius: 10px;
}

.sauce-item:hover {
  background-color: rgba(66, 199, 39, 0.568); /* Subtle background change */
}

.sauce-item.selected {
  border: green solid 5px;
  border-radius: 20px;
}

.sauce-item.selected p {
  display: block;
  background: #313131c9;
  color: white;
}

/* Specific hover styles for "Scharf" and "Sehr scharf" */
.additional-option.scharf:hover {
  background-color: rgba(255, 0, 0, 0.5); /* Red background for "Scharf" */
}

.additional-option.sehr-scharf:hover {
  background-color: rgba(
    255,
    69,
    0,
    0.5
  ); /* Orange-red background for "Sehr scharf" */
}

.ingredient-item,
.additional-option {
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #ffffff00 solid 5px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100px; /* Further reduce width */
  height: 80px; /* Further reduce height */
  display: flex; /* Center image */
  align-items: center; /* Center image */
  justify-content: center; /* Center image */
  border: 5px solid transparent; /* Maintain size when selected */
}
.additional-option {
  margin-bottom: 60px;
}

.ingredient-item img,
.additional-option img {
  width: 60px; /* Further reduce width */
  height: 60px; /* Further reduce height */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ingredient-item p,
.additional-option p {
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff00;
  padding: 5px 5px;
  border-radius: 10px;
}

.ingredient-item:hover {
  background-color: rgba(66, 199, 39, 0.568); /* Subtle background change */
}

.additional-option:hover {
  background-color: rgba(7, 255, 19, 0.959); /* Subtle background change */
}

.ingredient-item.selected,
.additional-option.selected {
  border: green solid 5px;
  border-radius: 20px;
  border-color: green; /* Change border color when selected */
}

.ingredient-item.selected p,
.additional-option.selected p {
  display: block;
  background: #313131c9;
  color: white;
}

.pers_Kebab.add-to-cart {
  margin-bottom: 180px; /* Adjust margin to a more appropriate value */
  padding: 10px 20px;
  background-color: #30d461a6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px; /* Reduce margin to save space */
  margin-left: auto;
  margin-right: auto;
}

.banner {
  position: fixed;
  top: 5px; /* Adjust position to save space */
  left: 50%;
  transform: translateX(-50%);
  background-color: #30d461a6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  scale: 0.6;
  perspective: 1000px; /* Add perspective for 3D effect */
  height: 15vh; /* Further reduce height */
}

.carousel-container {
  margin-top: 190px;
  display: flex;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  position: relative; /* Ensure proper positioning */
  justify-content: center; /* Center the container */
  align-items: center; /* Center the container */
  height: 100%; /* Ensure it takes full height */
}

.carousel-item {
  position: absolute;
  width: 120px; /* Further reduce width */
  height: 120px; /* Further reduce height */
  display: flex; /* Center image */
  align-items: center; /* Center image */
  justify-content: center; /* Center image */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.8); /* Adjust shadow */
}

.pers_Kebab.carousel-button {
  width: 50px; /* Gleiche Breite für beide Buttons */
  height: 50px;
  border-radius: 50%;
  font-size: 1.2rem; /* Falls Text im Button enthalten ist */
}


.pers_Kebab.carousel-button.prev {
  left: 55px; /* Position the previous button to the left */
  transform: scale(1.6);
}

.pers_Kebab.carousel-button.next {
  right: 55px; /* Position the next button to the right */
  transform: scale(1.6);
 
}

.carousel-preview {
  width: 100px; /* Adjust width to be smaller than the main window */
  height: 100px; /* Adjust height to be smaller than the main window */
  overflow: hidden;
  border-radius: 10px;
  margin: 0 5px; /* 5px margin between items */
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  padding: 5px 5px;
  z-index: 1000;
  position: absolute; /* Ensure proper positioning */
  transform: translateZ(-150px) rotateY(0deg); /* Move the preview images back */
}

.carousel-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.carousel-preview.move-in {
  animation: moveIn 0.3s forwards;
  box-shadow: none;
}

.carousel-preview.move-out {
  animation: moveOut 0.3s forwards;
  box-shadow: none;
}

.carousel-preview.spin-in {
  animation: spinIn 0.3s forwards;
  box-shadow: none;
}

.carousel-preview.spin-out {
  animation: spinOut 0.3s forwards;
  box-shadow: none;
}

.meat-slider {
  display: flex;
  justify-content: center;
  margin-top: 15px; /* Reduce margin to save space */
  gap: 20px;
}

.slider {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.slider-option {
  flex: 1;
  text-align: center;
  color: white;
  font-size: 18px;
  z-index: 1;
}

.slider-option.active {
  font-weight: bold;
}

.slider-thumb {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #30d461a6;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.slider-thumb.left {
  transform: translateX(0);
}

.slider-thumb.right {
  transform: translateX(100%);
}

.slider.disabled {
  cursor: not-allowed;
  opacity: 1;
}

.meat-slider label {
  display: flex;
  align-items: space-between;
  font-size: 18px;
  color: white;
}
.meat-slider.disabled label {
  opacity: 0.5;
}

.meat-slider input[type="radio"] {
  margin-right: 10px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
  height: 25vh; /* Further reduce height */
  gap: 40px;
}
.ingredients-grid{
  margin-left: 60px;
  margin-right: 60px;
}
.second-container,
.ingredients-grid,
.third-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120%; /* Ensure all containers take full height */
}

.second-container,
.third-container {
  margin-top: -120px;
  width: 20% !important; /* Adjust width to be narrower */
  height: 200%;
}

.ingredients-grid {
  width: 55%; /* Adjust width to take remaining space */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Change to 3 columns */
  grid-template-rows: repeat(2, 1fr); /* Change to 2 rows */
  gap: 20px;
  padding: 10px 40px;
  height: 100%; /* Ensure both containers take full height */
}

.additional-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.additional-option {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #ffffff00 solid 5px;
}

.additional-option p {
  margin: 10px 0 0;
  color: rgba(255, 255, 255, 0);
}

.additional-option.selected {
  border-color: #a6ff00;
  color: white;
}

.additional-option.selected p {
  display: block;
}

.additional-option img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.additional-option p {
  margin: 10px 0 0;
  color: white;
  display: none;
}

.additional-option:hover {
  background-color: rgba(150, 253, 15, 0.692); /* Subtle background change */
}

.additional-option.selected {
  border: rgb(150, 253, 15) solid 5px;
  border-radius: 20px;
}

.additional-option.selected p {
  display: block;
  background: #313131c9;
  color: white;
}



.additional-option.scharf.selected,
.additional-option.sehr-scharf.selected {
  border: red solid 5px;
  border-radius: 20px;
}

.menu-title {
  padding: 10px 20px;
  margin: 0 auto; /* Center the title */
  color: #ffffff; /* Weißer Text */
  font-size: 2rem;
  font-weight: bold;
  border-radius: 70px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px); /* Glasiger Effekt durch Unschärfe */
  -webkit-backdrop-filter: blur(10px); /* Unterstützung für Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Weißer, halbtransparenter Rand */
  text-align: center;
  max-width: 90%;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Ensures content doesn't overflow */
  text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}

.select-all {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-top: 5px; /* Reduce margin to save space */
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  max-width: 140px;
}

.select-all input[type="checkbox"] {
  margin-right: 10px;
}

.sauces-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  gap: 0px;
  justify-content: center;
  margin: 20px auto;
  max-width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 12vh; /* Further reduce height */
}

.sauce-item {
  scale: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #ffffff00 solid 5px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  justify-content: center; /* Center image */
 
}

.sauce-item img {
  width: 60px; /* Further reduce width */
  height: 40px; /* Further reduce height */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.sauce-item p {
  margin: 10px 0 0;
  color: white;
  display: none;
}

.sauce-item:hover {
  background-color: rgba(66, 199, 39, 0.568); /* Subtle background change */
}

.sauce-item.selected {
  border: green solid 5px;
  border-radius: 20px;
}

.sauce-item.selected p {
  display: block;
  background: #313131c9;
  color: white;
}

.body-grid{
  margin-top: 50px;
}
/* ====== RESPONSIVE DESIGN ====== */
@media (max-width: 768px) {
  body {
    scale: 0.7;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    scale: 0.7;
  }
}